nav {
    float: left;
    margin-left: 1em;
    margin-right: 1em;
}

.content {
    margin-left: 2em;
    float: left;
    width: 80%;
}

#del-button-div {
    float: left;
    margin-left: 0.5em;
    margin-top: auto;
    margin-bottom: auto;
}

h2 {
    margin: 0px;
}

#todo-header {
    display: flex;
}
