<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
        <title>{% block title %}{% endblock %}Tsoha notes & tasks app</title>
    </head>
<nav>
    <h1>Notes & Tasks</h1>
    <ul id=menu>
        <li><a href="/index.html">Home</a></li>
        <li><a href="/tasks.html">Tasks</a></li>
        <li><a href="/notes.html">Notes</a></li>
        </br>
        {% if session.user_id %}
            <li><a href="/logout.html">Logout</a></li>
        {% else %}
            <li><a href="/login.html">Login</a></li>
            <li><a href="/register.html">Register</a></li>
        {% endif %}
    </ul>
</nav>
<section class="content">
    <header>
        {% block header %}{% endblock %}
    </header>
    {% block content %}{% endblock %}
</section>
