{% extends "base.html" %}

{% block header %}
    <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
{% for message in get_flashed_messages() %}
<div class="flash">{{ message }}</span>
{% endfor %}
<form method="post">
    <label for="username">Username</label>
    <input name="username" id="username" min=1 max=30 required autofocus/>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" min=1 max=1000 required/>
    </br>
    <input type="submit" value="Submit"/>
</form>
{% endblock %}
